name: frontend
description: "Prayer times app with location-aware schedules and backend sync."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  dio: ^5.7.0
  flutter_compass: ^0.8.1
  flutter_map: ^6.1.0
  geocoding: ^3.0.0
  geolocator: ^11.1.0
  latlong2: ^0.9.1
  shared_preferences: ^2.5.4
  url_launcher: ^6.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
